# ISI-DDBB-RISK

Este cuadernillo implementará la estructura del juego del RISK, en base de datos. Además esté cuadernillo pretende hacer visible el desarrollo paso a paso de la implementación, no solo necesaria para el juego, sino también para mantener un sistema de consultas de partidas de RISK.Todos los diagramas E/R que vayan apareciendo son sucteptibles de sufrir cambios a lo largo del proceso

In [1]:
%load_ext sql

/usr/local/lib/python3.5/dist-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/usr/local/lib/python3.5/dist-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
%sql sqlite:///ISI-RISK-v2.db

'Connected: None@ISI-RISK-v2.db'

## Tabla de Jugadores

![Diagrama E/R](IMG/tabla_jugadores_v2.png)

In [4]:
%%sql
CREATE TABLE jugadores(nombre VARCHAR(20),
                       tipo VARCHAR(20),
                       PRIMARY KEY(nombre));

Done.

[]

In [11]:
%%sql
INSERT INTO jugadores(nombre,tipo) VALUES('Jorge','humano');
INSERT INTO jugadores(nombre,tipo) VALUES('Ana','IA');
INSERT INTO jugadores(nombre,tipo) VALUES('Peter','IA');
INSERT INTO jugadores(nombre,tipo) VALUES('Maria','humano');

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

## Tabla de Colores

![Diagrama E/R](IMG/tabla_colores_v2.png)

In [6]:
%%sql
CREATE TABLE colores(color VARCHAR(20),
                     PRIMARY KEY(color));

Done.

[]

In [12]:
%%sql
INSERT INTO colores(color) VALUES('azul');
INSERT INTO colores(color) VALUES('verde');
INSERT INTO colores(color) VALUES('rojo');
INSERT INTO colores(color) VALUES('naranja');

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

## Tabla de Partidas

![Diagrama E/R](IMG/tabla_partidas_v2.png)

In [7]:
%%sql
CREATE TABLE partidas(inicio DATETIME,
                      fin DATETIME,
                      PRIMARY KEY(inicio,fin));

Done.

[]

In [13]:
%%sql
INSERT INTO partidas(inicio,fin) VALUES('03/12/2016','03/12/2016');
INSERT INTO partidas(inicio,fin) VALUES('13/12/2016','13/12/2016');
INSERT INTO partidas(inicio,fin) VALUES('10/12/2016','10/12/2016');
INSERT INTO partidas(inicio,fin) VALUES('04/12/2016','04/12/2016');

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

## Relación Jugadores,Colores y Partidas

Un jugador es un color para una partida. Son los jugadores por partidas.

![Diagrama E/R](IMG/relacion_jugador_color_v2.png)

In [ ]:
%%sql
CREATE TABLE

## Tabla de Turnos

![Diagrama E/R](IMG/tabla_turnos_v2.png)

In [9]:
%%sql
DROP TABLE turnos;
CREATE TABLE turnos(id INT,
                    batallones INT,
                    movimiento VARCHAR(20),
                    PRIMARY KEY(ID));

Done.
Done.

[]

## Relación Jugadores, Turnos y Partidas

Turnos relizados en una partida por un jugador.

![Diagrama E/R](IMG/relacion_jugador_turnos_v2.png)

## Tabla de Paises

![Diagrama E/R](IMG/tabla_paises_v2.png)

In [15]:
%%sql
DROP TABLE paises;
CREATE TABLE paises(nombre VARCHAR(20),
                    vecinos VARCHAR(100),
                    PRIMARY KEY(nombre));

Done.
Done.

[]

In [16]:
%%sql
INSERT INTO paises(nombre,vecinos) VALUES('España','Francia,Portugal,Inglaterra');
INSERT INTO paises(nombre,vecinos) VALUES('Portugal','España');
INSERT INTO paises(nombre,vecinos) VALUES('Inglaterra','España');
INSERT INTO paises(nombre,vecinos) VALUES('Francia','Alemania,Italia,España');

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

## Agregación de Paises a los Turnos

Colonización de los Paises según el turno

![Diagrama E/R](IMG/agregacion_paises_turnos_v2.png)